h1 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 100;
  line-height: normal;
}

span {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 100;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: white;
}

.contact {
  margin-top: 200px;
}
.about {
  padding-top: 50vh;
}

.container {
  padding-top: 50vh;
}

.contact {
  padding-top: 50vh;
}

.profile {
  border: 3px solid;
  border-radius: 2.5em;
  width: 100%;
  opacity: 0.5;
}

.profile:hover {
  transition: none;
  transform: none;
  opacity: 1;
}

.pc-template {
  width: 400px;
  filter: drop-shadow(5px 5px 5px #222);
}

.android-template {
  width: 170px;
  filter: drop-shadow(5px 5px 5px #222);
}

.ios-template {
  width: 200px;
  filter: drop-shadow(5px 5px 5px #222);
}

img:hover {
  opacity: 0.5;
  transition: 0.5s ease;
  transform: scale(1.05);
}

a:hover {
  color: #0dcaf0;
}

.github-logo {
  width: 7em;
  filter: invert(1);
}

.linkedin-logo {
  width: 6em;
  filter: invert(1);
}

.mail-logo {
  width: 5.5em;
  margin-left: 25px;
  margin-bottom: 5px;
  filter: invert(1);
}
