.navigation {
  margin: 2em auto 2.5em;
  padding: 0 1.25em;
  display: inline-block;

  li {
    cursor: pointer;
    padding: 0.575em 1.65em;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  a {
    font-size: 1.6em;
    text-decoration: none;
    font-weight: 200;
    font-family: 'Playfair Display', serif;

    &:hover {
      filter: drop-shadow(.1px .1px .1px #222);
      text-decoration: underline;
    }
  }
}
